{% load static %}                                   <!-- se carga el contenido de la carpeta 'staticfiles' -->

<br>

<html lang="en">
<head>
    <title>Alejandro Busquet</title>
    <link rel=”stylesheet” href="{% static 'css/main.css' %}">    <!-- aca se sincroniza el "main.css" -->
    <!-- CSS only (es para dar estilo al documento CSS)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
    
    <div class="container">

        <div class="row">                               <!-- Esta es la fila 1 con sus 2 columnas abajo -->

            <!-- Esta columna 1 -->
            <div class="col-md-3">                      <!-- da un bloque en forma de rectangulo con ancho 3 -->

                <div class="card card-body border-warning d-flex flex-column align-items-center" style="height: 480px;" id="profile-wrapper">   <!-- el cuerpo de la tarjeta -->
                    <h4>CURRÍCULUM VITAE</h4>
                    <hr>
                    <img id="profile-pic" src="{% static 'images/Foto.jpg' %}" alt="">   <!-- la direccion de la foto que agregue en "images" / el 'profile-pic' relaciona con 'main.css' -->
                    <br>
                    <h4>Alejandro Busquet</h4>
                    <p class="text-center"><b>Data Scientist<br> Data Engineer / Data Analyst</b></p>
                </div>  

            </div>
            
            <!-- Esta columna 2 -->
            <div class="col-md-9">                      <!-- da un bloque en forma de rectangulo con ancho 9 -->

                <div class="card card-body border-warning" style="height: 480px;">            <!-- el cuerpo de la tarjeta / el 'profile-wrapper' relaciona con 'main.css' -->

                    <h4>Acerca de mí</h4>
                    <hr>

                    <p>Soy Data Scientist con background en programación y en área comercial, lo que me potenció 
                        habilidades como autoconfianza, resiliencia, dedicación, autonomía, comunicación, empatía, 
                        resolución de problemas, liderazgo de equipos.
                    </p>

                    <p>Cuento con sólidos conocimientos técnicos en python, MySQL, extracción, transformación y 
                        carga de datos, análisis y administración de bases de datos, arquitectura de datos, 
                        generación de reportes, evaluación de modelos, machine learning.
                    </p>    

                    <p> Busco desempeñarme en una empresa de tecnología, donde pueda desarrollar mis conocimientos de Data Engineer y Data Scientist, utilizando python, MySQL, o cualquier otro lenguaje que deba incorporar. 
                        Me apasionan desarrollos en Back-End y áreas de Machine Learning. Tengo prácticas con Docker, Spark, Hadoop, Hive, Databricks.
                    </p>
                    <br>
                    <p><b>TECNOLOGÍAS</b>:</p>
                    <pre style="margin-left: -200px;">
                        <b>Lenguajes de Programación</b>: Python, MySQL.   <b>Librerías</b>: numpy, pandas, matplotlib, seaborn, scikit-learn.
                        <b>Web Scraping</b>: Beautiful Soap, Selenium.     <b>Frameworks</b>: Flask, Django.
                        <b>APIs</b>: FastAPI, Uvicorn, Render.             <b>Visualización</b>: Power BI, Tableau (básico), Storytelling.
                        <b>Herramientas</b>: Docker, Spark, Hadoop, Hive.  <b>Sistemas colaborativos</b>: Scrum, Github.
                    </pre>

                </div>

            </div>

        </div>

        <br>

        <div class="row">                               <!-- Esta es la fila 2 con sus 2 columnas abajo -->

            <!-- Esta columna 1 -->
            <div class="col-md-6">                      <!-- da un bloque en forma de rectangulo con ancho 6 -->

                <div class="card card-body border-primary" style="height: 290px;"> <!-- el cuerpo de la tarjeta -->
                    <h4>Estudios</h4>
                    <hr>
                    <p>EDUCACIÓN PROFESIONAL:</p>
                    <lr>->	Data Analyst | Data Engineer | Data Scientist. Henry Academy. 2022 - 2023</lr>
                    <lr>->	Universidad Siglo XXI. Martillero y Corredor Inmobiliario. 2010 - 2012</lr>
                    <lr>->	Analista de Sistemas. Instituto Superior Mariano Moreno. 1994 – 1997</lr>
                    <lr>->	Ingeniería en Sistemas. Universidad de Buenos Aires. 1988 - 1990</lr>
                    <lr>->	Licenciatura Análisis de Sistemas. Universidad Católica Argentina. 1986 - 1987</lr>
                    <lr>->	Curso en Instituto privado. Sistema Operativo Unix. 2002</lr>
                </div>

            </div>
            
            <!-- Esta columna 2 -->
            <div class="col-md-6">                      <!-- da un bloque en forma de rectangulo con ancho 6 -->

                <div class="card card-body border-primary" style="height: 290px;">            <!-- el cuerpo de la tarjeta -->
                    <h4>Experiencia</h4>
                    <hr>
                    <p><b>Data Engineer / Data Analyst</b>		(Mar 2023 – May 2023)<br>
                    Bastó Ganado Inteligente	(Geolocalización de ganado)</p>
                    <lr>->	Extraer datos de MongoDB, realizar ETL, EDA y crear tablas necesarias</lr>
                    <lr>->	Representación de los datos en back mediante FastAPI</lr>
                    <lr>->	Ingestar Power BI para graficar los resultados del Front End</lr>
                    <lr>->	Generación del mapa de calor, conteo del ganado, cuantificar tramos recorridos</lr>
                    <lr>->	Analizar los cambios en los animales ante condiciones de clima adverso</lr>
                </div>

            </div>

        </div>

        <br>

        <div class="row">                               <!-- Esta es la fila 3 con sus 2 columnas abajo -->

            <!-- Esta columna 1 -->
            <div class="col-md-6">                      <!-- da un bloque en forma de rectangulo con ancho 6 -->

                <div class="card card-body border-danger"  style="height: 380px;">            <!-- el cuerpo de la tarjeta -->
                    <h4>Proyectos</h4>
                    <hr>
                    <p><b>Data Scientist / Data Engineer - “Plataformas Streaming”</b>  (Mar 2023)</p>
                    <lr>->	Realizar ETL, EDA, unificar los datasets y eliminar datos no útiles</lr>
                    <lr>->	Elaborar una API a efectos de disponibilizar todos los datos de manera online</lr>
                    <lr>->	Crear un modelo de ML que haga de sistema de recomendación al usuario</lr>
                    <lr>->	Realizar el deploy del modelo utilizando una interfaz gráfica</lr>
                    <br>
                    <p><b>Data Analyst / Data Engineer – “Mercado Bursátil”</b>  (Feb 2023)</p>
                    <lr>->	Extraer datos mediante la API de la web Yahoo Finance</lr>
                    <lr>->	Analizar el S&P500 en el período 2000 - 2023</lr>
                    <lr>->	Presentar una estrategia de inversión con una plataforma gráfica y uso de KPIs</lr>
                </div>

            </div>
            
            <!-- Esta columna 2 -->
            <div class="col-md-6">                      <!-- da un bloque en forma de rectangulo con ancho 6 -->

                <div class="card card-body border-danger" style="height: 178px;">            <!-- el cuerpo de la tarjeta -->
                    <h4>Idiomas</h4>
                    <hr>
                    <lr><b>Inglés</b>: Nivel B2 - Upper Intermediate. Link al certificado</lr>
                    <lr><b>Portugués</b>: Nivel Avanzado</lr>
                    <lr><b>Español</b>: Nativo</lr>
                </div>

                <br>

                <div class="card card-body border-danger" style="height: 178px;">            <!-- el cuerpo de la tarjeta -->
                    <h4>Contacto</h4>
                    <hr>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li><b>Correo</b>: <a href="mailto:algabu00@gmail.com" target="_blank">algabu00@gmail.com</a></li>
                        <li><b>Linkedin</b>: <a href="https://www.linkedin.com/in/alejandro-busquet/" target="_blank">https://www.linkedin.com/in/alejandro-busquet/</a></li>
                        <li><b>Github</b>: <a href="https://github.com/alebusquet" target="_blank">https://github.com/alebusquet</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <br>
    </div>


</body>
</html>

